// Paths
$img: "../../../comum/assets/img/";
$css: "../../../comum/assets/css/";
$fonts: "../../../comum/assets/fonts/";

:root, [data-primary="color_12"] {
    --background: #f7f7f7;
    --primary: #052236 !important;
    --secondary: #204f6e;
    --hamburguer-color: var(--secondary);
    --headerbg: var(--primary);
    --secondary-hover: #4a4949;
    --secondary-shadow: rgba(0, 8, 157, .5);
    --secondary-disabled: rgba(0, 8, 157, .4);
    --primary-hover: var(--primary);
    --primary-light: #c4c4c4;
    --primary-dark: #d82d2f;
    --danger: #d82d2f;
    --warning: #ffd444;
    --info: #009a9d;
    --success: #3cb045;
    --rgba-primary-1: rgba(78, 139, 194, .1);
    --rgba-primary-2: rgba(78, 139, 194, 0.2);
    --rgba-primary-3: rgba(78, 139, 194, 0.3);
    --rgba-primary-4: rgba(78, 139, 194, 0.4);
    --rgba-primary-5: rgba(78, 139, 194, 0.5);
    --rgba-primary-6: rgba(78, 139, 194, 0.6);
    --rgba-primary-7: rgba(78, 139, 194, 0.7);
    --rgba-primary-8: rgba(78, 139, 194, 0.8);
    --rgba-primary-9: rgba(78, 139, 194, 0.9);

    // rgba secondary
    --rgba-secondary-1: rgba(117, 77, 194, 0.1);
    --rgba-secondary-2: rgba(117, 77, 194, 0.2);
    --rgba-secondary-3: rgba(117, 77, 194, 0.3);
    --rgba-secondary-4: rgba(117, 77, 194, 0.4);
    --rgba-secondary-5: rgba(117, 77, 194, 0.5);
    --rgba-secondary-6: rgba(117, 77, 194, 0.6);
    --rgba-secondary-7: rgba(117, 77, 194, 0.7);
    --rgba-secondary-8: rgba(117, 77, 194, 0.8);
    --rgba-secondary-9: rgba(117, 77, 194, 0.9);

    --success-light: #e8f5e9;
    --text-success: #3cb045;
    --font-family-base: 'Fira Sans', sans-serif;
    --font-family-title: 'Fira Sans', sans-serif;

    --dd-overlay: rgba(0, 0, 0, .75) !important;
    --dd-background: #FFFFFF;
    --dd-text1: #333333;
    --dd-text2: #FFFFFF;
    --dd-primary: var(--primary) !important;
    --dd-gradient: linear-gradient(90deg, rgba(77,112,194,1) 0%, rgba(52,94,193,1) 100%) !important;
    --dd-radius: .35em;
    --dd-shadow: 0 0 2.5em rgba(0, 0, 0, 0.1);
    --dd-range: rgba(0, 0, 0, 0.05);
}

[data-theme-version="dark"] {
    background: #161426;
    --background: #161426;
    color: #828690;
    --color: #828690;
    --nav-headbg: #1F1D36;
    --sidebar-bg: #1F1D36;
    --headerbg: #1F1D36;
    --primary: #8e6d9f;
}



[data-theme-version="dark"] {
    .header .sub-header {
        background-color: #1F1D36;
        border-color: #312e54;
    }

    .logo-abbr .cls-1, .brand-title{
        fill:#fff;
        object-fit: contain;
    }
}

.brand-title, .logo-abbr{
    object-fit: contain;
}

@import '_mixins';